.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
}

.lineWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  border: 2px solid var(--neutral-light);
  padding: 2.4rem;
  border-radius: var(--br-inside);
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.button {
  font-size: 3.2rem;
  color: var(--green-mid);
  background-color: var(--neutral-white);
  font-weight: 900;
  border: 2px solid var(--green-light);
  padding: var(--space-md);
  border-radius: 50%;
  box-shadow: 0 1px 0 var(--green-mid), var(--dropshadow-green-shallow);
}

.time {
  color: var(--neutral-black);
  width: 100%;
  font-weight: 600;
  text-align: center;
  padding: var(--space-xs) 0;
  border: 0 solid var(--green-mid);
  font-size: 3.2rem;
}
