:root {
  /* Fonts */
  font-family: Roboto, Helvetica, Arial, sans-serif;

  /* Neutrals */
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light: hsl(210, 17%, 95%);
  --neutral-mid: hsl(210, 17%, 95%);
  --neutral-dark: hsl(210, 20%, 78%);
  --neutral-darker: hsl(210, 15%, 66%);
  --neutral-black: hsl(208, 10%, 30%);

  /* Reds */
  --red-light: hsl(0, 100%, 75%);
  --red-mid: hsl(349, 100%, 64%);
  --red-dark: hsl(344, 65%, 60%);
  --red-black: hsl(355, 84%, 19%);
  --red-gradient: linear-gradient(var(--red-light), var(--red-mid));

  /* Greens */

  --green-lightest: #cdf4ee;
  --green-light: #50e7c4;
  --green-mid: #2bce8b;
  --green-dark: #5ab981;
  --green-black: hsl(167, 38%, 41%);
  --green-gradient: linear-gradient(var(--green-light), var(--green-mid));

  /* Spacing */
  --space-xs: 0.8rem;
  --space-sm: 1.2rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-xxl: 4.8rem;

  /* Border-Radius */
  --br-inside: 1.6rem;
  --br-outside: 2.4rem;

  /* Drop Shadows */
  --dropshadow-green-shallow: 0 4px 3px hsla(167, 38%, 41%, 0.13);
  --dropshadow-red-deep: 0 25px 14px hsla(325, 38%, 41%, 0.02),
    0 15px 12px hsla(325, 38%, 41%, 0.07), 0 4px 9px hsla(325, 38%, 41%, 0.12),
    0 1px 5px hsla(325, 38%, 41%, 0.02);
  --dropshadow-green-deep: 0 25px 14px hsla(167, 38%, 41%, 0.02),
    0 15px 12px hsla(167, 38%, 41%, 0.07), 0 4px 9px hsla(167, 38%, 41%, 0.12),
    0 1px 5px hsla(167, 38%, 41%, 0.02);

  /* Typography */

  /* size */
  --type-small: 1.6rem;
  --type-medium: 2rem;
  --type-large: 2.4rem;

  /* weight */

  --elevation-90--near: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  --elevation-90--far: 0rem 1.25rem 2.5rem rgba(0, 0, 0, 0.08);
  --elevation-90: var(--elevation-90--near), var(--elevation-90--far);
}

body {
  background: var(--neutral-light);
  /* border: 3px solid red; */
}

/* TYPOGRAPHY */
.task-module__label {
  font-size: var(--type-large);
  font-weight: 600;
  color: var(--neutral-black);
}

.main-container {
  /* border: 3px solid rgb(162, 0, 255); */
  margin: var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: min(100%, 900rem); */
  min-height: calc(100vh - 10.6rem);
  /* margin: 24px; */
  gap: var(--space-lg);
  /* overflow: hidden; */
}
