.container {
  margin: var(--space-md) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--space-sm);
  column-gap: var(--space-xs);
}

.button {
  color: var(--green-mid);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  border: 2px solid var(--green-light);
  background-color: var(--neutral-white);
  border-radius: 16px;
  padding: var(--space-sm) var(--space-sm);
  box-shadow: 0 1px 0 var(--green-mid), var(--dropshadow-green-shallow);
}

.reset {
  margin-top: var(--space-sm);
  padding: var(--space-xs) var(--space-lg);
}
