.task {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: relative;
  width: min(100%, 50rem);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--br-outside);
  gap: var(--space-md);
  border: 2px solid var(--neutral-light);
  background-color: var(--neutral-white);
  box-shadow: var(--dropshadow-neutral-deep),
    inset 0 -1px 0 var(--neutral-light);
}

.text {
  margin-left: 55px;
  color: var(--neutral-black);
  font-weight: 500;
  font-size: var(--type-medium);
}

/* Timer Button */

.timerButton {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 2%;
  transform: translate(-25%, -50%);
  width: 65px;
  height: 65px;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
}

.circleTimerDefault {
  position: absolute;
}
.circleTimerRunning {
  position: absolute;
}
.circleTimerwarning {
  position: absolute;
}

.timerDefault {
  color: var(--neutral-black);
  font-size: var(--type-small);
  font-weight: 700;
  padding: 0.3rem 0.8rem;
  min-width: 7rem;
}

.timerRunning {
  color: var(--green-mid);
  font-weight: 800;
}

.timerWarning {
  color: var(--red-mid);
  font-weight: 800;
}

.closeButton img {
  width: 18px;
}
