/* @import 'normalize.css'; */

:root {
  /* Fonts */
  font-family: Roboto, Helvetica, Arial, sans-serif;

  /* Neutrals */
  --neutral-white: #fff;
  --neutral-light: #f2f2f2;
  --neutral-mid: #dadada;
  --neutral-dark: #bababa;
  --neutral-darker: #a8a8a8;
  --neutral-black: #3d3d3d;

  /* Reds */
  --red-light: #ff8080;
  --red-mid: #ff4769;
  --red-dark: #db587b;
  --red-black: #59080f;

  /* Greens */
  --green-light: #50e7c4;
  --green-mid: #2bce8b;
  --green-dark: #5ab981;

  /* Border-Radius */
  --rounded-border: 4.2rem;
}

body {
  background: var(--neutral-white);
  /* border: 3px solid red; */
}

.main-container {
  /* border: 3px solid rgb(162, 0, 255); */
  margin: 8.2rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: min(100%, 900rem); */
  min-height: calc(100vh - 10.6rem);
  /* margin: 24px; */
  gap: 4.8rem;
}

.header {
  color: var(--neutral-light);
}

.tasks-container {
  /* border: 3px solid rgb(72, 255, 0); */
  width: min(100%, 90rem);
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.task-wrapper {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: min(100%, 50rem);
  font-size: 2rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  border-radius: var(--rounded-border);
  gap: 1.6rem;
  border: 2px solid var(--neutral-light);
  background-color: var(--neutral-white);
  box-shadow: 0 27px 16px 0 hsla(0, 0%, 0%, 0.03),
    0 3px 7px 0 hsla(0, 0%, 0%, 0.06), 0 12px 12px 0 hsla(0, 0%, 0%, 0.05),
    inset 0 -1px 0 var(--neutral-light);
}

.task-timer {
  color: var(--neutral-white);
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--green-mid);
  box-shadow: inset 0 1px var(--green-light), 0 2px 0 var(--green-dark);
  border-radius: var(--rounded-border);
  padding: 0.4rem 0.8rem;
  min-width: 5rem;
  text-align: center;
}

.task-text {
  color: var(--neutral-black);
}

/* Pomotomo */

.pomotomo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomo-text {
  width: min(100%, 50rem);
  color: var(--green-dark);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.riveContainer {
  /* position: relative; */
  /* border: 1px solid red; */
  width: 120px;
  height: 120px;
}
