/* @import 'normalize.css'; */

:root {
  /* Fonts */
  font-family: Roboto, Helvetica, Arial, sans-serif;

  /* Neutrals */
  --neutral-white: #fff;
  --neutral-light: #f2f2f2;
  --neutral-mid: #dadada;
  --neutral-dark: #bababa;
  --neutral-darker: #a8a8a8;
  --neutral-black: #4d4d4d;

  /* Reds */
  --red-light: #ff8080;
  --red-mid: #ff4769;
  --red-dark: #db587b;
  --red-black: #59080f;

  /* Greens */
  --green-lightest: #cdf4ee;
  --green-light: #50e7c4;
  --green-mid: #2bce8b;
  --green-dark: #5ab981;

  /* Spacing */
  --space-xs: 0.8em;
  --space-sm: 1.2em;
  --space-md: 1.6em;
  --space-lg: 2.4em;
  --space-xl: 3.2em;
  --space-xxl: 4.8em;

  /* Border-Radius */
  --br-inside: 2.4rem;
  --br-outside: 3.6rem;

  /* Typography */

  /* size */
  --type-small: 1.6rem;
  --type-medium: 2rem;
  --type-large: 2.4rem;

  /* weight */
}

body {
  background: var(--neutral-white);
  /* border: 3px solid red; */
}

.main-container {
  /* border: 3px solid rgb(162, 0, 255); */
  margin: 8.2rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: min(100%, 900rem); */
  min-height: calc(100vh - 10.6rem);
  /* margin: 24px; */
  gap: 4.8rem;
}

.header {
  color: var(--neutral-light);
}

.tasks-container {
  /* border: 3px solid rgb(72, 255, 0); */
  width: min(100%, 90rem);
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

/* Task List Item */

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: min(100%, 50rem);
  font-size: var(--type-medium);
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  border-radius: var(--br-outside);
  gap: 1.6rem;
  border: 2px solid var(--neutral-light);
  background-color: var(--neutral-white);
  box-shadow: 0 27px 16px 0 hsla(0, 0%, 0%, 0.03),
    0 3px 7px 0 hsla(0, 0%, 0%, 0.06), 0 12px 12px 0 hsla(0, 0%, 0%, 0.05),
    inset 0 -1px 0 var(--neutral-light);
  /* border: 3px solid red; */
}

.task-timer {
  color: var(--neutral-white);
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--green-mid);
  box-shadow: inset 0 1px var(--green-light), 0 2px 0 var(--green-dark);
  border-radius: var(--br-inside);
  padding: 0.4rem 0.8rem;
  width: min(100%, 70px);
  text-align: center;
}

.task-wrapper .task-text {
  color: var(--neutral-black);
}

/* Pomotomo */

.pomotomo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomo-text {
  width: min(100%, 50rem);
  color: var(--green-dark);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.riveContainer {
  /* position: relative; */
  /* border: 1px solid red; */
  width: 120px;
  height: 120px;
}

/* Task Module */

.task-module {
  width: min(100%, 50rem);
  padding: var(--space-xxl) var(--space-lg);
  background-color: var(--neutral-white);
  border: 2px solid var(--green-lightest);
  border-radius: var(--br-outside);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  box-shadow: 0 27px 16px 0 hsla(0, 0%, 0%, 0.03),
    0 3px 7px 0 hsla(0, 0%, 0%, 0.06), 0 12px 12px 0 hsla(0, 0%, 0%, 0.05),
    inset 0 -1px 0 var(--green-lightest);
}

.task-module__group {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.task-module__label {
  font-size: var(--type-large);
  font-weight: 600;
  color: var(--neutral-black);
}

.task-module__input {
  border: 2px solid var(--green-lightest);
  font-size: var(--type-medium);
  border-radius: var(--br-inside);
}
